<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>GeoAR.js demo</title>
  <script src='https://cdn.jsdelivr.net/gh/aframevr/aframe@1c2407b26c61958baa93967b5412487cd94b290b/dist/aframe-master.min.js'></script>
  <script src="https://raw.githack.com/jeromeetienne/AR.js/master/aframe/build/aframe-ar.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</head>

<link rel="stylesheet" href="https://raw.githack.com/jeromeetienne/AR.js/master/aframe/src/location-based/stylesheets/index.css">

<!-- Dynamically add places from Javascript -->

<body style='margin: 0; overflow: hidden;'>
<a-scene
  cursor='rayOrigin: mouse; fuse: true; fuseTimeout: 0;'
  raycaster="objects: [gps-entity-place];"
  vr-mode-ui="enabled: false"
  embedded
  arjs='sourceType: webcam; sourceWidth:1280; sourceHeight:960; displayWidth: 1280; displayHeight: 960; debugUIEnabled: false;'>
  <a-camera gps-camera rotation-reader>
  </a-camera>
   <% @locations.each do |location| %>
    <a-image 
    gps-entity-place="latitude: location[:geometry][:location][:lat]; longitude: location[:geometry][:location][:lng]"
    src=location[:icon]>
    </a-image>
  <%end%>
</a-scene>
</body>
<script src="javascript/places.js"></script>
</html>